{% extends 'base.html.twig' %}


{% block title %}
    Accueil
{% endblock %}

{% block header %}
    <!--heros-->
    <div class="row fullHeight">
        <div class="col offset-m4 m6 s12 hero valign-wrapper">
            <div> <!--This div debug text position-->
                <h2 class="blur">Alan Bouteiller</h2>
                <h1><span class="greenP">Developpeur</span><br/><span class="yellow-text">& passionné</span></h1>
                <div class="divider"></div>
                <blockquote>
                    La passion au service de vos <span>idées</span>, <span>projets</span>, <span>clients</span> et <span>utilisateurs</span>.
                </blockquote>
            </div>
        </div>
        <div class="col s12 center-align drop">
            <p>See below</p>
            <p><i class="material-icons">arrow_drop_down</i></p>
        </div>
    </div>
    <!--heros end-->
{% endblock %}

{% block body %}
<!--content-->
<div class="row">
    <div class="col s12 center-align actu" id="home">
        <p><i>Actuellement je suis en recherche de missions. <a class="show" href="#contact">Me contacter.</a></i></p>
    </div>

    <div class="col offset-m2 m4 right-align scrollspy" id="je_fait">
        <h3 class="pinkP">Ce que je fais ?</h3>
    </div>
    <div class="col s12 m4">
        <h4 class="title hide-on-small-only">Améliorer des choses.</h4>
        <h4 class="title-mobile show-on-small hide-on-med-and-up">Améliorer des choses.</h4>
        <p>Je peux vous aider pour les petites choses comme pour les grandes.</p>
        <h4>Depuis le <span class="code">#!</span></h4>
        <ul class="browser-default">
            <li>Integrations/front-end</li>
            <li>Back-end</li>
            <li>Référencement naturel</li>
            <li>Gestions des données</li>
            <li>Transformation des données</li>
        </ul>
        <h4>Jusqu'au <span class="code">.style {}</span></h4>
        <ul class="browser-default">
            <li>Responsive design</li>
            <li>Flat design</li>
        </ul>
        <h4>(^_^)b</h4>
        <p>Vous n'êtes pas sûr de savoir ce que vous voulez? Je peux vous aider aussi!</p>
    </div>

    <div class="col offset-m2 m4 right-align scrollspy" id="je_suis">
        <h3 class="blueP">Qui je suis ?</h3>
    </div>
    <div class="col s12 m4">
        <h4 class="title hide-on-small-only">Tl;dr</h4>
        <h4 class="title-mobile show-on-small hide-on-med-and-up">Tl;dr</h4>
        <p>
            Bordelais de vie, Normand de naissance et Breton de coeur, concepteur-dévellopeur professionnel, <a class="show" href="https://fr.wikipedia.org/wiki/Bi%C3%A9rologie" target="_blank">zythologue</a> amateur, mordu de sport, passionné de code et du web,
            <span class="show" onclick="var mess = new message('a', 'J\'aime apprendre de nouvelles choses, j\'ai fait de nombreux mooc : Design, Langage de programation, Dessin 3D, Entreprenariat, Big Data, RH, ...');">touche-à-tout</span>
            et amoureux des crêpes.
        </p>
        <p id="a"></p>

        <h4>Histoire</h4>
        <p>Electricien de
            <span class="show" onclick="var mess = new message('b', 'BEP et BAC PRO ainsi que plusieurs chantiers en solitaire à mon actif (conception des plans jusqu\'au consuel). L\'entreprise (milon3j) chez qui j\'ai passé mes 4 ans de scolarité m\'a appris le gout du travail bien fait.');">formation</span> je suis rentré à
            <span class="show" onclick="var mess = new message('b', 'Ecole des sous-officer d\'active de Saint-Maixent-l\'École.');">l'armée</span> puis j'ai passé un
            <span class="show" onclick="var mess = new message('b', 'Diplôme de niveau 3 au site informatique à Bordeaux.');">diplôme</span> dans les "réseaux informatiques en entreprise" pour finir par apprendre tout ce que je sais aujourd'hui
            <span class="show" onclick="var mess = new message('b', 'Depuis mon entrée au collège, après avoir fini de bidouiller avec un vieux xp et linux, j\'ai fini par m\'intéresser au code et à la programation en général. Merci à (rip) Le site du Zero, devellopez.com et grafikart.fr.');">tout seul grâce au web</span>.
        </p>
        <p id="b"></p>

        <h4>Intérêts</h4>
        <p>
            Je suis passioné du web depuis très longtemps, de simulateur de vol également, je me suis énormément formé tout seul car mon grand intéret dans la vie c'est d'apprendre dès qu'un sujet m'intéresse!<br/>
            Pour cela je me sers de tout ce que l'on trouve sur des sites tels que openclassroom, developpez ou bien d'autres et également de tout ce qui peut exister sur le net!
            Je m'intéresse aussi à la zythologie (<a class="show" href="https://fr.wikipedia.org/wiki/Bi%C3%A9rologie" target="_blank">wtf?!?</a>) et au café!<br/>
            Je maintiens également ce site qui, je l'espére, pourra en aider certains via mon blog ou mes notes.
        </p>

        <h4>Skills/langages</h4>
        <ul>
            <li>Niveaux :
                <span class="new badge home" data-badge-caption="Débutant"></span>
                <span class="new badge home" data-badge-caption="Junior"></span>
                <span class="new badge home" data-badge-caption="Confirmé"></span>
                <span class="new badge home" data-badge-caption="Expert"></span>
            </li>
        </ul>
        <ul class="browser-default">
            <li>Français <span class="new badge home" data-badge-caption="Langue de naissance"></span></li>
            <li>Anglais <span class="new badge home" data-badge-caption="Niveau moyen"></span></li>

            <li>Windows (xp, 7, 10, server) <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>
            <li>Linux (Debian) <span class="new badge home" data-badge-caption="Bonnes notions"></span></li>

            <li>PHPStorm <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>
            <li>Git/GitHub <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>
            <li>GitKraken <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>
            <li>Composer <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>

            <li>Laragon <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>

            <li>HTML5/CSS3 <span class="new badge home" data-badge-caption="Confirmé"></span></li>

            <li>JavaScript <span class="new badge home" data-badge-caption="Junior"></span></li>
            <li>Python 3<span class="new badge home" data-badge-caption="Débutant"></span></li>

            <li>PHP7 <span class="new badge home" data-badge-caption="Junior"></span></li>
            <li>POO/Design pattern <span class="new badge home" data-badge-caption="Junior"></span></li>

            <li>SQL <span class="new badge home" data-badge-caption="Confirmé"></span></li>
            <li>MySQL <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>
            <li>PhpMyAdmin <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>
            <li>HeidiSql <span class="new badge home" data-badge-caption="Utilisation courante"></span></li>
            <li>Oracle <span class="new badge home" data-badge-caption="Notions"></span></li>
            <li>Oracle SQL Developer <span class="new badge home" data-badge-caption="Notions"></span></li>
            <li>Teradata <span class="new badge home" data-badge-caption="Notions"></span></li>


            <li>REACT <span class="new badge home" data-badge-caption="Intérêt"></span></li>
            <li>JSX <span class="new badge home" data-badge-caption="Intérêt"></span></li>

            <li>Dart <span class="new badge home" data-badge-caption="Intérêt"></span></li>

            <li>Wordpress <span class="new badge home" data-badge-caption="Confirmé"></span></li>
            <li>Symfony <span class="new badge home" data-badge-caption="Junior"></span></li>

            <li>Méthode Agile <span class="new badge home" data-badge-caption="Confirmé"></span></li>
            <li>Cycle de vie d'un projet <span class="new badge home" data-badge-caption="Confirmé"></span></li>
            <li>Principe de fonctionnement serveur/réseaux <span class="new badge home" data-badge-caption="Confirmé"></span></li>

        </ul>
    </div>

    <div class="col offset-m2 m4 right-align scrollspy" id="a_propos">
        <h3 class="greenP">A propos</h3>
    </div>
    <div class="col s12 m4">
        <h4 class="title hide-on-small-only">Vous pouvez mayday?</h4>
        <h4 class="title-mobile show-on-small hide-on-med-and-up">Vous pouvez mayday?</h4>
        <p>
            J'ai choisi Mayday car c'est ce que l'on lance à la radio quand l'on est face à un problème majeur (<span class="show" onclick="var mess = new message('c', 'Mayday est une expression utilisée internationalement dans les communications radio-téléphoniques pour signaler qu\'un avion ou qu\'un bateau est en détresse et que la vie humaine est immédiatement menacée, par exemple en cas d\'incendie à bord, ou de naufrage.')">et souvent très grave</span>).
            Et j'ai la conviction que mon blog ou mes notes peuvent aider d'autre personnes que ma propre mémoire (:
        </p>
        <p id="c"></p>
        <h4>Mes notes</h4>
        <p>Mes notes sont juste la retranscription "informatique" et "en ligne" de celles que j'ai prise lors d'un cours, mooc, ou apprentissage.</p>
        <h4>Le blog</h4>
        <p>Le blog me permet de noter des solutions à certains problèmes rencontrés ou encore d'écrire des petits textes très courts sur des actualités qui m'intéresse ou d'en faire un signalement.</p>
        <h4>Evolution</h4>
        <p>Le site est actuellement en reconstruction même du côté du back!<br/>
            En effet je souhaite passer tout le système de mon site sur une API Rest Symfony et React.</p>
        <p>Actuellement j'utilise <a href="https://symfony.com/4" class="show" target="_blank">Symfony 4</a> pour la structure, <a href="https://github.com/markedjs/marked" class="show" target="_blank">Marked.js</a> pour l'édition des notes ou billets de blog,
            <a href="https://prismjs.com/" class="show" target="_blank">PrismJs</a> pour la colorisation syntaxsique, <a href="https://materializecss.com/" class="show" target="_blank">Materialize</a> pour le style.</p>
    </div>

    <div class="col offset-m2 m4 right-align scrollspy" id="blog">
        <h3 class="yellowP">Blog</h3>
    </div>
    <div class="col s12 m4">
        <h4 class="title hide-on-small-only">Dernier billet</h4>
        <h4 class="title-mobile show-on-small hide-on-med-and-up">Dernier billet</h4>
        <!--POST-->
        <ul>

            {% for data in blog %}
                <li>
                    <a class="show" href="{{ path('blog.unique', {id: data.id, slug: data.slug}) }}">{{ data.title|raw }}</a>
                </li>
            {% endfor %}

        </ul>
        <!--POST END-->
    </div>

    <div class="col offset-m2 m4 right-align scrollspy" id="note">
        <h3 class="yellowP">Notes</h3>
    </div>
    <div class="col s12 m4">
        <h4 class="title hide-on-small-only">Mes notes</h4>
        <h4 class="title-mobile show-on-small hide-on-med-and-up">Derniéres notes</h4>
        <!--POST-->
        <ul>

            {% for data in note %}
                <li>
                    <a class="show" href="{{ path('blog.unique', {id: data.id, slug: data.slug}) }}">{{ data.title|raw }}</a>
                </li>
            {% endfor %}

        </ul>
        <!--POST END-->
    </div>

    <div class="col offset-m2 m4 right-align scrollspy" id="contact">
        <h3 class="blueP">Rencontrez moi!</h3>
    </div>
    <div class="col s12 m4">
        <h4 class="title hide-on-small-only">Pour un café, ou un projet!</h4>
        <h4 class="title-mobile show-on-small hide-on-med-and-up">Pour un café, ou un projet!</h4>
        {{ form_start(form) }}
            <div class="col s12 m6">{{ form_row(form.lastname) }}</div>
            <div class="col s12 m6">{{ form_row(form.firstname) }}</div>
            <div class="col s12 m12">{{ form_row(form.email) }}</div>
            <div class="col s12 m12">{{ form_row(form.message) }}</div>
            <div class="col s12">

                <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                    <i class="material-icons right">send</i>
                </button>

                {% if not form.vars.valid %}
                    <div class="col s12 red flash-card">
                        <p class="valign-wrapper">
                            <i class="material-icons">layers_clear</i>Il y a une erreur
                        </p>
                    </div>
                {% endif %}

                {% for message in app.flashes('success') %}
                    <div class="col s12 green flash-card">
                        <p class="valign-wrapper">
                            <i class="material-icons">layers</i>{{ message }}
                        </p>
                    </div>
                {% endfor %}

            </div>
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
