{% extends 'admin/admin.home.html.twig' %}

{% block title %}Admin - Login{% endblock %}

{% block nav %}
    <!--navbar-->
    <nav id="spy">
        <div class="nav-wrapper" data-target="top">
            <a href="#" class="brand-logo center">mayday<span class="blink">_</span></a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="{{ path('home') }}">Accueil du site</a></li>
            </ul>
        </div>
    </nav>

    <!--Mobile structure-->
    <ul class="sidenav" id="slide-out">
        <li><a href="{{ path('home') }}">Accueil du site</a></li>
    </ul>
    <!--navbar end-->
{% endblock %}

{% block body %}
    <div class="row container">
        {% block form %}
            <div class="col s12 content">
                <form action="{{ path('login') }}" method="post">

                    <div class="input-field col m6 s12">
                        <input id="username" type="text" class="validate {% if error %}invalid{% endif %}" name="_username" value="{{ lastUser }}" required="required">
                        <label for="username">Username</label>
                        <span class="helper-text" data-error="
                            {% if error %}
                                {{ error.messageKey | trans(error.messagedata, 'security') }}
                            {% endif %}
                        "></span>
                    </div>
                    <div class="input-field col m6 s12">
                        <input id="password" type="password" class="validate {% if error %}invalid{% endif %}" name="_password" required="required">
                        <label for="password">Password</label>
                    </div>

                    <div class="col s12 paramBlog">
                        <div>
                            <button class="btn waves-effect waves-light" type="submit">Me connecter
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        {% endblock %}
    </div>
{% endblock %}
